@page "/"
@rendermode InteractiveServer

<PageTitle>Bibliothèque Publique</PageTitle>

<header class="bg-header bg-header-size">
    <h1 class="text-size uppercase">bibliothèque publique</h1>
</header>

@if (categories == null)
{
    <p>Loading...</p>
}
else
{
    <div class="grid-container">
        @foreach (var category in categories)
        {
            <a class="grid-item" href="/category/@category.id">
                <h3>@category.icon @category.name</h3>
            </a>
        }
    </div>
}

@code {
    private List<Categories>? categories;

    [Inject]
    private LibraryService LibraryService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        categories = await LibraryService.GetCategoriesAsync();
    }
}
