@page "/"
@rendermode InteractiveServer

<PageTitle>Bibliothèque Publique</PageTitle>

<header class="bg-header bg-header-size">
    <h1 class="text-size uppercase">bibliothèque publique</h1>
</header>

@if (genres == null)
{
    <p>Loading...</p>
}
else
{
    <div class="grid-container">
        @foreach (var genre in genres)
        {
            <a class="grid-item" style="background-color:#@genre.bgColor" href="/genre/@genre.id">
                <h3>@genre.name</h3>
            </a>
        }
    </div>
}

@code {
    private List<Genres>? genres;

    [Inject]
    private LibraryService LibraryService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        genres = await LibraryService.GetGenresAsync();
    }
}
